@model Goggles.Models.Item

@{
    ViewBag.Title = "Add an Item to Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

   <h2 style="text-align: center;">@ViewBag.Title</h2>

<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
    <span style="margin-left:200px;">
        <a href="/StoreManager" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-arrow-left"></span> Back To Admin Pannel
        </a>
        @*@Html.ActionLink("Back to Admin Controll Pannel", "Index")*@
    </span>
    <div class="container">
        <hr />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

             <div class="form-horizontal">
       
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, "Category", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoryId", String.Empty)
                @Html.ValidationMessageFor(model => model.CategoryId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProducerId, "Producer", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProducerId", String.Empty)
                @Html.ValidationMessageFor(model => model.ProducerId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ItemArtUrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ItemArtUrl)
                @Html.ValidationMessageFor(model => model.ItemArtUrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description)
                @Html.ValidationMessageFor(model => model.description)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
                <input type="button" class="btn" data-dismiss="modal" aria-hidden="true" value="Close" onclick="@("window.location.href='" + @Url.Action("Index", "StoreManager") + "'");" />
            </div>
        </div>
    </div>
        }
     </div>
</section>  
    
