@using Microsoft.AspNet.Identity
@model Goggles.Models.ManageUserViewModel
        
<center>
    <p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p>
</center>

    @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
       
        <hr />
        @Html.ValidationSummary()
    <div style="margin-left:200px">
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Change password" class="btn btn-primary" />
                <input type="button" class="btn" data-dismiss="modal" aria-hidden="true" value="Close" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");"/>
            </div>
        </div>
    </div>
    }
 