@model Goggles.Models.Order

@{
    ViewBag.Title = "AddressAndPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
    <div class="container">
        <div class="inner-sec-shop px-lg-4 px-3">
            <h3 class="tittle-w3layouts my-lg-4 mt-3">Checkout </h3>
            <div class="checkout-right">
                
                <div class="col-md-8 address_form">
                    <h4>Add Address Details</h4>
                    @using (Html.BeginForm())
                    {
                         <section class="creditly-wrapper wrapper">
                            <div class="information-wrapper">
                                <div class="first-row form-group">
                                    <div class="controls">
                                        <label class="control-label">First name: </label>
                                        <input class="billing-address-name form-control" type="text" name="FirstName" autocomplete="off">
                                        <label class="control-label">Last name: </label>
                                        <input class="billing-address-name form-control" type="text" name="LastName" autocomplete="off">
                                    </div>
                                    <div class="card_number_grids">
                                        <div class="card_number_grid_left">
                                            <div class="controls">
                                                <label class="control-label">Mobile number:</label>
                                                <input class="form-control" type="text" name="Phone" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="card_number_grid_right">
                                            <div class="controls">
                                                <label class="control-label">Email: </label>
                                                <input class="form-control" type="text" name="Email" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="clear"> </div>
                                    </div>
                                    <div class="controls">
                                        <label class="control-label">Town/City: </label>
                                        <input class="form-control" type="text" name="City" autocomplete="off">
                                    </div>
                                    <div class="controls">
                                        <label class="control-label">Address: </label>
                                        <input class="form-control" type="text" name="Address" autocomplete="off">
                                    </div>
                                    <div class="controls">
                                        <label class="control-label">State: </label>
                                        <input class="form-control" type="text" name="State" autocomplete="off">
                                    </div>
                                    <div class="controls">
                                        <label class="control-label">PIN Code: </label>
                                        <input class="form-control" type="text" name="PostalCode" autocomplete="off">
                                    </div>
                                    <div class="controls">
                                        <label class="control-label">Country: </label>
                                        <input class="form-control" type="text" name="Country" autocomplete="off">
                                    </div>
                                </div>
                                <p align="center">
                                    <input type="submit" value="Place Order" class="btn btn-success" style="padding: 10px 100px 10px 100px;" />
                                </p>
                            </div>
                        </section>
                     }
                </div>

                <div class="clearfix"> </div>

            </div>

        </div>

    </div>
</section>










@*<div class="contact_grid_right">
    @using (Html.BeginForm())
    {
        <fieldset>
            <center>
                <h3>Shipping Information</h3>
            </center>
            @Html.EditorForModel()
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>

                @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Address)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.City)
                </div>
                @Html.LabelFor(m => m.State, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.State, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.State)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PostalCode, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PostalCode)
                </div>
                @Html.LabelFor(m => m.Country, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Country)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Phone)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
        </fieldset>
        @*<fieldset>
                <legend>Payment</legend>
                <p>
                    We're running a promotion: all Products have 50% discount
                    with the promo code: "50"
                </p>
                <div class="editor-label">
                   @Html.Label("Promo Code", new { @class = "col-md-2 control-label" })
                </div>
                <div class="editor-field">
                    @Html.TextBox("PromoCode")
                </div>
            </fieldset>
        <p align="center">
            <input type="submit" value="Submit Order" class="btn btn-success" style="padding: 10px 100px 10px 100px;" />
        </p>
    }
    </div>*@
